.todo-input-wrapper input{
   width: calc(100% - 100px);
   height: 15px;
   padding: 10px;
   font-size: 14px;
 }

.submit-btn {
    height: 38px;
    width: 66px;
    text-align: center;
    cursor: default;
    color: white;
    background-color: #1976D2;
    border-width: 0px;
    padding: 7px;
    vertical-align: top;
    float: right;
}

.submit-btn:hover {
    background-color:#63aaf1;
}    